.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #732eff;
  background: transparent;
  transition: all 0.9s ease-in-out;
  color: #732eff;
}
.nav-tabs {
  border-bottom: 2px solid #E0E0E0;
}
.nav-tabs .nav-link {
  border: 0px solid transparent;
  color: #000;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: typo;
  padding: 16px;
}

@media screen and (max-width: 800px) {
  .nav-tabs {
    padding: 0;
    overflow-x: auto;
  }
  .nav-tabs .nav-link {
    overflow-x: auto;
  }
}